P{
    color: yellow;
}
h2{
    color: chartreuse;
}
/* body{
    border: 10px dashed rgb(0, 0, 0);
    padding: 25px;
    background: url(images\ of\ css/image18.png);
    background-repeat: no-repeat;
    background-origin: content-box;
} */